/* @theme define */

@import 'default';

/* * {
    border: 1px solid #cc0000;
} */

section {
    background-image: url("https://github.com/usnistgov/OSCAL-DEFINE/blob/main/media/img/background.png?raw=true");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-size: 101% 100%;
    padding-top: 150px;

    font-size: 1.2em;
}

section.intro {
    background-image: url("https://github.com/usnistgov/OSCAL-DEFINE/blob/main/media/img/intro.png?raw=true");
}

section.topic {
    background-image: url("https://github.com/usnistgov/OSCAL-DEFINE/blob/main/media/img/section.png?raw=true");
}



section.topic h1 {
    position: absolute;
    font-size: 4em;
    top: 250px;
    left : 350px;
    color: #feb420;
}

h1 {
    position: absolute;
    top: 20px;
    color: #ffffff;
    font-size: 3em;
}

h2 {
    color: #012950;
    font-size: 2.5em;
    margin-top: 5px;
}

h3 {
    color: #0157ad;
    font-size: 2em;
}

li {
    font-size: 22pt;
}

p {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
}


blockquote p {
    /* color: #FF8C00; */
    font-weight: bold;
    font-style: italic;
    text-align: left;
    font-size: 1.5em;
    width: 100%;
}

strong {
    font-weight: bold;
    color: #004fa8;
}

header {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    width: 65%;
    left:10px;
    top:0;
    padding:10px;
}


section.code pre {
    border: 4px solid #000a61;
    background-color: #e6f8ff;
    width: 30%;
    float: right;
    position: absolute;
    left: 800px;
}

section.code ul,
section.code p,
section.code h2,
section.code li {
    width: 60%;
    text-align: left;
}

section.code blockquote p {
    color: #737373;
    font-style: italic;
    text-align: left;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    width: 60%;
}

section.reference:last-child a {
    font-size: .5em;
    font-style: italic;
    position:absolute;
    top: 675px;
}

:root {
    
}